body{
    background-color: #9EB384;
    
}
main{
    display: grid;
    grid-template-columns: 55fr 45fr;
    grid-template-rows: 1fr;
    align-items: start;
}

.left-side{
    height: 90rem;
    background-color: #CEDEBD;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.right-side{ 
    height: 76.7rem;
    width: 45%;
    background-color: #fff;
    position: fixed;
    right: 0;
    bottom: 0;
}

.profile-div{
    height: 75rem;
    width:60rem;
    background-color: #FAF3F0;
    border: 2px solid #f5dcd2;
}

.page-opener-div{
    width: 100%;
    height: 100%;
}

.page-opener-title{
    width: 100%;
    height: 16.7rem;
    background-color: #9EB384;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opener-box{
    background-color: #FDF5E6;
    width: 100%;
    height: 20rem;
    border: 1px solid #f5dcd2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-opener-text{
    font-size: 6rem;
    color: #435334;
}

.opener-box-text{
    font-size: 3.5rem;
    font-family: 'Varela Round', sans-serif;
    transition: all 1s ease;
    /*      Add trasition     */
}

.opener-box:hover{
    /* background-image: url(/assets/Backgroud-LandingPage.png); */
    background-color: transparent;
    background-size: cover;

}

.profile-txt-div{
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

.profile-img-div{
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-curve{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-image: url(/assets/Profie-pic.png);
    background-size: cover;
}