@use './global.scss' as g;

/*
 * to use global variables just use
 * g.$variable
 * where "variable" is the variable name
 * example:
 *     body {
 *         background: g.$background;
 *         color: g.$text;
 *     }
 */

.sidebar {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 60px;
    bottom: 0;
    width: g.$sidebar-width;
    font-size: 1.7rem;
    transition: width 200ms ease;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    background-color: green;
}

.icon_name {
    // display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    background-color: rgb(0, 100, 0);
    text-decoration: none;

    a {
        color: #fff;
    }

    display: none;
}

.icon_name>div,
.icon>div {
    padding: 0.5rem;
}

.sidebar:hover>.icon_name {
    display: flex;
}