<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/Navbar.css">
  {% block head %}{% endblock %}
</head>

<body>
  <!-- insert navigation bar -->
  <header class="header"> <!--Header is used for navbar-->

    <h1 class="logo">Kisan:Sevak</h1> <!--Logo of project placed on the left in navbar-->

    <nav class="navbar">
      <!--No of pages are just for my reference (Samarth :) ) ones all the pages are created they need to be trimmed and linked accordingly-->
      <ul class="navbar-list">
        <li><a href="#" class="navbar-link">Crop  Recommendation</a></li>
        <li><a href="#" class="navbar-link">Yield Prediction </a></li>
        <li><a href="#" class="navbar-link">Price Forecast</a></li>

      </ul>
    </nav>
  </header>

  <div class="adjusting-div">
    <!--Used for adjusting the navbar properly-->
  </div>

  <div id="content">
    {% block body %}{% endblock %}
  </div>

  <!-- <script type="module" src="/src/main.js"></script> -->
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>