{% extends 'index.html' %}
{% block head %}
<title>Welcome - KisanSevak</title>
{% endblock %}
{% block body %}
<!-- test text -->
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut maiores dolor quis officiis fugit blanditiis, quas dolorem
ipsum suscipit explicabo possimus? Sunt excepturi, dignissimos quaerat inventore nam nisi doloremque magnam.
Itaque iusto in eligendi iste perspiciatis. Voluptatibus odit iure perspiciatis? Sequi cum totam, iste aliquid voluptas
facere voluptatum exercitationem officiis at vitae nemo ab tenetur debitis doloremque minus tempore molestiae!
Fugiat illum alias iste cum repudiandae veniam possimus aliquid odio. Perferendis deserunt numquam libero alias?
Explicabo eaque tenetur praesentium ea alias voluptate blanditiis dolorem delectus, repudiandae ipsa error vero neque!
{% endblock %}