{% extends 'base.html' %}
{% block head %}
<title>Landing Page</title>
<link rel="stylesheet" href="./css/LandingPage.css">
{% endblock %}
{% block body %}
<main class="main-page">
    <div class="map-list">
        <div class="dropdown-container">
            <input type="text" class="dropdown-input" id="districtInput" placeholder=" ">
            <div class="arrow-icon listArrow">&#9660;</div>
            <div class="watermark">Select District</div>
            <div class="dropdown-list" id="districtList"></div>
        </div>
        <div class="map-img">
            <img src="../../assets/Maharashtra-Map-of-India.jpg">
        </div>
    </div>
    <div class="map-data">
        <div class="district-name">
            <h1><span class="district-name-span">Maharashtra District Information</span></h1>
        </div>
        <div class="district-ratio">
            <div>
                <h2>N:P:K ratio</h2>
            </div>
            <div><canvas id="myChart" aria-label="chart" role="img"></canvas></div>
        </div>
        <div class="district-data">
            <div class="avg rainfall">
                <div>
                    <h2>Avg. Rainfall</h2>
                </div>
                <div>
                    <p><span class="rainfall-data">500 mm</span></p>
                </div>
            </div>
            <div class="avg temp">
                <div>
                    <h2>Avg. temperature</h2>
                </div>
                <div>
                    <p><span class="humidity-data">40 °c</span></p>
                </div>
            </div>
        </div>

    </div>
</main>


<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<script type="module" src="/src/LandingPage.js"></script>
{% endblock %}