{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="./css/landing.scss">
{% endblock %}
{% block body %}
<div class="hero">
  <div class="content">
    <h1>KisanSevak</h1>
    <span>The future farmer's best friend.</span>
    <span>
      <button class="landing-login-popper-1">login</button>
      <button class="landing-signup-popper-1">sign up</button>
    </span>
  </div>
  <div class="video">
    <video src="./public/assets/seeds.mp4" autoplay muted loop></video>
  </div>
</div>
<div class="rest">
  <h1>Leveraging ML to Nurture Your Field</h1>
  <h2>Over months of training models we have <strong>perfected your needs</strong>.</h2>
  <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus aliquam optio sit animi saepe voluptatem illo,
    assumenda deserunt quos cumque cupiditate totam corrupti veniam ad ullam aspernatur sequi. Reprehenderit,
    nobis.</span>
</div>
<div class="rest">
  <h1>Perfect Analysis</h1>
</div>
<div class="rest">
  <h1>Market price forecasting</h1>
  <span>We boast to be the best market price comparison system there is.</span>
</div>
<div class="rest">
  <h1>So, what are you waiting for?</h1>
  Start now. Towards a better future.
  <span>
    <button class="landing-login-popper-2">login</button>
    <button class="landing-signup-popper-2">sign up</button>
  </span>
</div>
<script type="module" src="./src/landing.js"></script>
{% endblock %}