{% extends 'base.html' %}
{% block head %}
<!DOCTYPE html>
<title>ML page</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&family=Poppins:ital@1&display=swap"
    rel="stylesheet">
<link rel="stylesheet" href="./css/MLPage.css">
{% endblock %}
{% block body %}
    <main>
        <div class="left-side">
            <!---->
            <div class="name-div">
                <div class="name-of-farmer">
                    <p><span>Hello Samarth Nilkanth</span></p>
                </div>
            </div>
            <!---->
            <div class="data-div">
                <div class="farm-data crop-data">
                    <div class="farm-data-title">
                        <p><span>Current Crop: </span></p>
                    </div>
                    <div class="farm-data-live">
                        <p><span>Rice</span></p>
                    </div>
                </div>
                <div class="farm-data yield-data">
                    <div class="farm-data-title">
                        <p><span>Predicted Yield: </span></p>
                    </div>
                    <div class="farm-data-live">
                        <p><span>45 ton/ha</span></p>
                    </div>
                </div>
                <!---->
            </div>
            <div class="list-div">
                <div class="list-heading">
                    <p>Data beyond your farm: </p>
                </div>
                <div class="actual-list-dabba">
                    <div class="dropdown-container">
                        <input type="text" class="dropdown-input" id="districtInput" placeholder=" ">
                        <div class="arrow-icon" onclick="toggleList()">&#9660;</div>
                        <div class="watermark">Select a Crop</div>
                        <div class="dropdown-list" id="districtList">
                            <!-- Add district options here -->
                            <div class="dropdown-list-item" onclick="selectDistrict('Ahmednagar')">Ahmednagar</div>
                            <div class="dropdown-list-item" onclick="selectDistrict('Akola')">Akola</div>
                            <div class="dropdown-list-item" onclick="selectDistrict('Amravati')">Amravati</div>
                            <div class="dropdown-list-item" onclick="selectDistrict('Aurangabad')">Aurangabad</div>
                            <div class="dropdown-list-item" onclick="selectDistrict('Beed')">Beed</div>
                            <div class="dropdown-list-item" onclick="selectDistrict('Bhandara')">Bhandara</div>
                            <div class="dropdown-list-item" onclick="selectDistrict('Buldana')">Buldana</div>
                            <div class="dropdown-list-item" onclick="selectDistrict('Chandrapur')">Chandrapur</div>
                            <div class="dropdown-list-item" onclick="selectDistrict('Dhule')">Dhule</div>
                            <div class="dropdown-list-item" onclick="selectDistrict('Gadchiroli')">Gadchiroli</div>
                            <div class="dropdown-list-item" onclick="selectDistrict('Gondia')">Gondia</div>
                            <div class="dropdown-list-item" onclick="selectDistrict('Hingoli')">Hingoli</div>
                            <div class="dropdown-list-item" onclick="selectDistrict('Jalgaon')">Jalgaon</div>
                            <div class="dropdown-list-item" onclick="selectDistrict('Jalna')">Jalna</div>
                            <div class="dropdown-list-item" onclick="selectDistrict('Kolhapur')">Kolhapur</div>
                            <div class="dropdown-list-item" onclick="selectDistrict('Latur')">Latur</div>
                            <div class="dropdown-list-item" onclick="selectDistrict('Mumbai city')">Mumbai city</div>
                            <div class="dropdown-list-item" onclick="selectDistrict('Mumbai suburban')">Mumbai suburban
                            </div>
                            <div class="dropdown-list-item" onclick="selectDistrict('Nagpur')">Nagpur</div>
                            <div class="dropdown-list-item" onclick="selectDistrict('Nanded')">Nanded</div>
                            <div class="dropdown-list-item" onclick="selectDistrict('Nandurbar')">Nandurbar</div>
                            <div class="dropdown-list-item" onclick="selectDistrict('Nashik')">Nashik</div>
                            <div class="dropdown-list-item" onclick="selectDistrict('Osamanabad')">Osamanabad</div>
                            <div class="dropdown-list-item" onclick="selectDistrict('Palghar')">Palghar</div>
                            <div class="dropdown-list-item" onclick="selectDistrict('Parbhani')">Parbhani</div>
                            <div class="dropdown-list-item" onclick="selectDistrict('Pune')">Pune</div>
                            <div class="dropdown-list-item" onclick="selectDistrict('Raigad')">Raigad</div>
                            <div class="dropdown-list-item" onclick="selectDistrict('Ratnagiri')">Ratnagiri</div>
                            <div class="dropdown-list-item" onclick="selectDistrict('Sangli')">Sangli</div>
                            <div class="dropdown-list-item" onclick="selectDistrict('Satara')">Satara</div>
                            <div class="dropdown-list-item" onclick="selectDistrict('Sindhudurg')">Sindhudurg</div>
                            <div class="dropdown-list-item" onclick="selectDistrict('Solapur')">Solapur</div>
                            <div class="dropdown-list-item" onclick="selectDistrict('Thane')">Thane</div>
                            <div class="dropdown-list-item" onclick="selectDistrict('Wardha')">Wardha</div>
                            <div class="dropdown-list-item" onclick="selectDistrict('Washim')">Washim</div>
                            <div class="dropdown-list-item" onclick="selectDistrict('Yavatmal')">Yavatmal</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="right-side">
            <div class="graph-1_graph">
                <div class="text">
                    <h1>Yield Data Graph</h1>
                </div>
                <canvas class="yield-data-graph"></canvas>
            </div>
            <!-- <div style="margin-bottom: 20px;"></div> -->
            <div class="graph-2_graph">
                <div class="text">
                    <h1>Sensor N:P:k Graph</h1>
                </div>
                <canvas class="npk-data-graph"></canvas>
            </div>
        </div>
    </main>


    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/src/MLPage.js"></script>
{% endblock %}