{% extends 'base.html' %}
{% block head %}
<!DOCTYPE html>
<title>Price Prediction</title>
<link rel="stylesheet" href="./css/PriceForcast.css">
<!-- Add Head Part -->

{% endblock %}

{% block body %}
<div class="main">
    <div class="center upper-div">
        <div class="center">
            <h1>Predicted Price</h1>
        </div>
    </div>
    <div class="center lower-div">
        <canvas class="market-graph"></canvas>
    </div>
  </div>
  <script type="module" src="src/crop.market.js"></script>
{% endblock %}
