{% extends 'base.html' %}
{% block head %}
<!doctype html>
<title>Yeild Prediction</title>
<link rel="stylesheet" href="./css/YeildPrediction.css">
{% endblock %}

{% block body %}
<div class="main">

    <div class="left">
        <div class="user-name">
            <div>
                <h1>Hello <span>User</span></h1>
            </div>
        </div>
        <div class="info-box">
            <div class="info left-box">
                <div class="center info-top-div">
                    <h2>Crop Planted: <br />
                        <span class="crop-planted-label"></span>
                    </h2>
                </div>
            </div>
            <div class="info right-box">
                <div>
                    <div class="center info-top-div">
                        <h2>Pesticide Used (in tonnes)</h2>
                    </div>
                    <div class="center info-bottom-div">
                        <h3>55 tons/hectare</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="center graph-block">
            <canvas class="graph-div"></canvas>
        </div>
        <div class="center graph-block">
            <canvas class="graph-div"></canvas>
        </div>
    </div>
</div>


{% endblock %}