  .main-page{
    height: auto;
    width: 100%;
  }

  .dropdown-container {
    position: relative;
  }

  .dropdown-input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-right: 30px; /* Space for arrow icon */
    position: relative;
  }

  .arrow-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: auto;
    cursor: pointer;
  }

  .dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 300px;
    max-height: 150px; /* Set the maximum height for the dropdown list */
    overflow-y: auto; /* Add scrollbar when the list overflows */
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
  }

  .dropdown-list-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .dropdown-list-item:hover {
    background-color: #f0f0f0;
  }

  .selected {
    background-color: #e6f7ff; /* Add a background color to indicate selection */
  }

  .watermark {
    position: absolute;
    pointer-events: none;
    top: 15px;
    left: 15px;
    font-size: 14px;
    color: #888;
  }

  main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
    gap: 20px;
  }

  .map-list{
    border: 1px solid black;
  }

  .map-img{
    width: 40%;
    display: inline-block;
  }

  .map-data{
    border: 1px solid black;
    height: 670px;
    width: 350px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1.5fr;
  }

  .district-name{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .district-ratio{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .district-ratio div{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .district-data{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .avg{
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .avg div{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  